<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout}">
<head>
    <title>Employees Management</title>
</head>
<body>
<div layout:fragment="content">
    <h2 class="h2">Employees Management</h2>
    <div class="table-responsive">
        <a th:href="@{/admin/employees/add}" class="btn btn-sm btn-primary">Add Employee</a> <br>
        <span style="color: red;" th:text="${deleteError}"></span>
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody th:each="employee : ${employees}">
            <tr>
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.role}"></td>
                <td th:text="${employee.email}"></td>
                <td th:text="${#temporals.format(employee.createdAt, 'dd/MM/yyyy HH:mm')}"></td>
                <td th:text="${#temporals.format(employee.updatedAt, 'dd/MM/yyyy HH:mm')}"></td>
                <td>
                    <a th:href="@{/admin/employees/update/{id}(id=${employee.id})}"
                       class="btn btn-sm btn-primary">Edit</a>
                    <a th:href="@{/admin/employees/delete/{id}(id=${employee.id})}"
                       th:onclick="return confirm('Are you sure you want to delete this employee?')"
                       class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
